<nav>
  <a routerLink="/">
    <img src="assets/carLists.png" class="icon" />
  </a>
  <a routerLink="/BrandNew">
    <img src="assets/brandNew.png" class="icon" />
  </a>
  <a routerLink="/SecondHand">
    <img src="assets/secondHand.png" class="icon" />
  </a>
  <a routerLink="/add">
    <img src="assets/addCar.png" class="icon">
  </a>
</nav>
<section>
  <header>
    <app-welcome></app-welcome> 
    <marquee><img src="assets/car.png" class="icon"><img src="assets/sale.png" class="icon"></marquee>
  </header>
  <router-outlet></router-outlet>
</section>